@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

//Colors
$pink: #FEEFEC;
$white: #ffffff;
$orange: #F74219;
$orange-light:#f55936;
$grey:#BBBBBB;
$blue:#033A60;
$purple-light:#C6CBE9;

a {
    color: $blue;

    &:hover {
        text-decoration: underline;
    }
}

.btn:hover {
    text-decoration: none!important;
}

h1,h2,h3,h4,h5,h6,p {
    margin-bottom: 0;
}

.form-control:focus {
    box-shadow: none;
}

* {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

//Size
.fw {
    &-500 {font-weight: 500;}
    &-600 {font-weight: 600;}
    &-700 {font-weight: 700;}
    &-800 {font-weight: 800;}
    &-900 {font-weight: 900;}
}

.c {
    &-blue {
        color: $blue;
    }
    &-orange {
        color: $orange;
    }
    &-white {
        color: white;
    }
}

.mt {
    &-6 {
        margin-top:6rem;
    }
    &-10 {
        margin-top: 10rem;
    }
}

.bg {
    &-orange {
        background-color: $orange;
        &:hover {
            background-color: $orange-light!important;
            color: $white;
        }
    }
    &-transparent {
        background-color: transparent;
        border-color: $blue;

        &:hover {
            background-color: $blue!important;
            color: $white;
        }
    }
}

.b-block {
    width: 100%;
}

.c-auto {
    margin: 0 auto;
    display: block;
}

.f {
    &-right {
        float: right;
    }
    &-left {
        float: left;
    }
}

//Utilities
.t {
    &-none {
        text-decoration: none;
    }
}

.vertical-align {
    top:50%;
    position: relative;
    padding: 7px;
    transform: translate(0,-50%);
}

//Bg colors
.bg-pink {
    background-color: $pink;
}

.form-group {
    margin-bottom: 15px;

    .form-control {
        border-color: $blue;
        padding: 15px 23px;
        border-radius: 10px;
    
        &::placeholder {
            color: $grey;
        }
    }
}

.bg-grey {
    background-color: white;
    border-radius: 10px;
    border: 1px solid #F74219;
}

//Animatons
@keyframes move-down {
    0% {
        transform: translate(-50%,0);
    }
    100% {
        transform: translate(-50%,300px);
    }
}

@keyframes rotate-smooth {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}

@keyframes top-bottom {
    0% {
        transform: translate(-50%,0px);
      }
      50% {
        transform: translate(-50%,50px);
      }
      100% {
        transform: translateY(-50%,0px);
      }
}

@keyframes left-right {
    0% {
      transform: translateX(0px);
    }
    50% {
      transform: translateX(10px);
    }
    100% {
      transform: translateX(0px);
    }
}

@keyframes left-right-30 {
    0% {
      transform: translateX(0px);
    }
    50% {
      transform: translateX(30px);
    }
    100% {
      transform: translateX(0px);
    }
}

//LOADER
#loader {
    z-index: 10;
    height: 100vh;
    background-color: $blue;
    position: fixed;
    left: 0;
    width: 100%;
    height: 100%;
    top: 0;

    .circle {
        width: 30px;
        height: 30px;
        background: white;
        border-radius: 50%;
        left: 50%;
        transform: translate(-50%,0);
        position: absolute;
        animation-name: move-down;
        animation-duration: 2s;
    }

    .top {
        position: absolute;
        top: 0;
        right: 0;
        width: 350px;
    }

    .bottom {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 400px;
    }

    .logo {
        top: 50%;
        left: 50%;
        position: absolute;
        transform: translate(-50%,-50%);

        img {
            width: 250px;
        }
    }
}

//LOGIN PAGE
#login {
    padding: 30px;

    .img {
        max-width: 200px;
        margin-bottom: 10px;
    }

    h1 {
        font-size: 38px;
    }
}

//FORGET PAGE
#forgot {
    padding: 30px;

    .img {
        max-width: 200px;
        margin-bottom: 10px;
    }

    h1 {
        font-size: 38px;
    }

    h4 {
        font-size: 18px;
        font-weight: 700;
    }
}

//DASHBOARD
#dashboard {
    padding: 30px;

    .relative {
        position: relative;
    }

    .avatar.floating {
        position:absolute;
        top: 0;
        margin-left: 35px;
    }

    .avatar.floating.people {
        border: 3px solid #0DC863;
        border-radius: 50%;
        margin-left: 35px;
        background-size: cover;
        background-position: center;
    }

    .avatar {
        width: 70px;
        height: 70px;
        border-radius: 50%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border: 3px solid #c3c3c3;
    }

    .box {
        background-color: $purple-light;
        padding:30px;
        //padding: 230px 30px 30px 30px;
        position: relative;
        border-radius: 50px;

        h3 {
            font-weight: 600;
        }

        p {
            font-size: 19px;
        }

        .box-inner {
            background-color: $white;
            padding: 30px;
            border-radius: 40px;
            position: relative;
            z-index: 2;
            box-shadow: 0 5px 12px rgba(1,1,1,0.2);
        }

        .octopus {
            position: absolute;
            z-index: 1;
            top:-210px;
            left: 50%;
            transform: translate(-50%,0);
            animation-name: top-bottom;
            animation-duration: 5s;
            animation-iteration-count: infinite; 
        }

        .alga {
            position: absolute;
            z-index: 0;
            //bottom:100px;
            left: 18%;
            animation-name: left-right-30;
            animation-duration: 5s;
            animation-iteration-count: infinite; 
        }

        .coral {
            position: absolute;
            z-index: 0;
            //bottom:60px;
            right: 17%;
            animation-name: left-right;
            animation-duration: 6s;
            animation-iteration-count: infinite; 
        }

        .burbujas {
            position: absolute;
            z-index: 1;
            //top:-140px;
            right: 25%;
            animation-name: rotate-smooth;
            animation-duration: 30s;
            animation-iteration-count: infinite; 
        }
    }

    .box-pink {
        background-color: $pink;
        padding: 30px;
        position: relative;
        border-radius: 50px;

        h4 {
            font-weight: 600;
        }

        p {
            font-size: 18px;
        }

        .logo {
            margin: 0 auto;
            display: block;
        }

        .box-inner {
            background-color: $white;
            padding: 30px;
            border-radius: 40px;
            box-shadow: 0 5px 12px rgba(1,1,1,0.2);
            position: relative;
            z-index: 2;
        }
    }
}

.btn-block {
    width: 100%;
}

.btn-outline {
    border: 0;
    border-radius: 10px;
    padding: 8px 18px;
}

.btn:hover {
    text-decoration: none!important;
}

.btn-big {
    font-size: 17px!important;
    font-weight: 700!important;
}

.btn-logout {
    padding: 5px 18px;
}

.center-h {
    margin: 0 auto;
    left: 50%;
    position: relative;
    transform: translate(-50%, 0);
}

.name {
    font-size: 18px;
    line-height: 0.9em;
}

.box-pink .row .col-xl-6 {
    margin-bottom: 20px;
}

#users-table {
    width: 100%;
}

/*MEDIA QUERIES*/
#navbar {
    margin-bottom: 30px;
    z-index: 9999999;
}

#navbar.fixed {
    position: fixed !important;
    top: 0;
    left: 0;
    background-color: #FEEFEC;
    width: 100%;
    padding: 5px 20px;
    z-index: 10;
}

//Submenu
.bg-grey {
    padding: 15px;
}

.block-submenu {
    position: relative;
    cursor: pointer;

    &:hover {
        background-color: #f1f1f1;

        .sub-menu {
            display: block;
        }
    }
}

.sub-menu {
    margin-top: 0;
    position: absolute;
    left: 0;
    background-color: $orange;
    width: 250px;
    padding: 13px;
    z-index: 2;
    border-radius: 10px;
    list-style-type: none;
    display: none;

    li {
        width: 100%;
        background: #FEEFEC;
        border-radius: 5px;
        margin-bottom: 10px;

        &:hover {
            background-color: #f1f1f1;
        }

        a {
            color: #033A60;
            font-size: 15px;
            text-decoration: none;
            padding: 8px 20px;
            display: block;
        }
    }
}

@media only screen and (max-width:768px){
    #dashboard .box .octopus {
        top: -90px;
        left: 50%;
        width: 330px;
    }

    #navbar {
        margin-bottom: 0;
    }

    #dashboard .box .coral {
        width: 220px;
        left: 0;
        top: 22px !important;
    }

    #dashboard .box .alga {
        left: inherit;
        right: 61px;
        width: 130px !important;
        top: 40px !important;
    }

    #dashboard .box .burbujas {
        top: -70px;
        right: 25%;
        width: 80px;
    }

    .notification-icon {
        top: 50%;
        transform: translate(0, -50%);
        position: relative;
    }

    #dashboard .box .box-inner {
        padding: 20px;
    }

    #dashboard .box {
        padding: 10px;
    }

    #dashboard {
        padding: 10px;
    }

    

    .btn-danger {
        font-size: 10px;
    }

    .hidden-media {
        display: none;
    }
}

@media only screen and (max-width:480px){
    .btn-danger {
        font-size: 10px;
    }

    #navbar {
        margin-bottom: 0;
    }

    .hidden-media {
        display: none;
    }

    #dashboard .box .octopus {
        top: -20px;
        left: 50%;
        width: 250px;
    }

    #dashboard .box .coral {
        width: 190px;
        left: 0;
        top: 70px !important;
    }

    #dashboard .box .alga {
        left: inherit;
        right: 61px;
        width: 100px!important;
        top: 130px!important;
    }

    #dashboard .box .burbujas {
        top: -70px;
        right: 25%;
        width: 80px;
    }

    .notification-icon {
        top: 50%;
        transform: translate(0, -50%);
        position: relative;
    }

    #dashboard .box .box-inner {
        padding: 20px;
    }

    #dashboard .box {
        padding: 10px;
    }

    #dashboard {
        padding: 10px;
    }

    #dashboard .avatar {
        height: 70px;
    }

    .name {
        font-size: 16px;
    }
}